:root{
    --blockquote-background-color: #222222;
}
.theme-dark{
    --bold-weight: 600;
    --italic-color: white;
    --bold-color: white;
    color:#bbb;
    font-weight: 400;
}

.def{
    background: #323232;
    padding:0.5em;
    border-radius: 0.5em;
}
.def:hover{
    background: #323242;
    cursor:pointer;
}


.quote{
    background: #252532;
    padding:0.5em;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
}
.quote:hover{
    background: #323242;
    cursor:pointer;
}
.mermaid svg { 
  max-width: 100%; 
  height: auto;
  overflow: visible;
}

.cm-preview-code-block{
    width:150%;
}

@media print {

    body {
        background-color: #222222;
        color: white;
    } 
}